#switcheroo {
    position: fixed;
    right: 10px;
    top: 25%;
    background: #fff;
    box-shadow: 0px 0px 25px #D1F0FF;
    border: 2px solid #D1F0FF;
    padding: 10px;
    max-height: 370px;
	width: 490px;
	
	.left-leave {
		display: inline-block;
		width: 225px;
		vertical-align: top;
	}
	
	.right-leave {
		display: inline-block;
		width: 250px;
		margin-left: 5px;
		vertical-align: top;
	}
	
	.name-txt {
		width: 205px;
	}
	
	.btns {
		margin-top: 10px;
	}
	
	.hero-txt {
		width: 125px;
	}
	
	.hero-list {
	    max-height: 200px;
		overflow: auto;
		margin-bottom: 10px;
		border: 1px solid #02A8F9;
		padding: 5px;
		
		.hero {
			margin-bottom: 5px;
		}
	
		.selected {
			background: #D1F0FF;
		}
		
		img, span {
			display: inline-block;
		}
		
		img {
			width: 25px;
			height: 30px;
			margin-right: 5px;
		}
	}
}